.svn
.DS_Store

*elc
loaddefs.el*
auto-save-list
custom.el

/ac-comphist.dat
/network-security.data
/projectile.cache
/projectile-bookmarks.eld
/tramp
/abbrev_defs
/emms
/magithub
/transient
/url
/semanticdb
/edts

/.cask
/.newsrc-dribble
/.nnmail-cache
/.smex-items
/.org-id-locations
/.savehist
/.saveplace
/.bookmarks
/.edbi-ds-history
/.emacs.desktop
/.emacs.desktop.lock
/.emms-cache
/.ido.last
/.mc-lists.el
/.nrepl.hist
/.recentf
/.slime-repl.hist

/elpa

/straight/build
/straight/build-cache.el
/straight/repos
