loaddefs.el*
backups/*
auto-save-list
custom.el
*elc
places
url/cookies
elpa-to-submit/jabber/jabber.info
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
image-dired/
elim/
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc~
session*
tramp
\#*
history
/.org-id-locations
/.smex-items
/abbrev_defs
/ac-comphist.dat
/anything-c-adaptive-history
/cmd_frequencies
/custom.el.before_ecb_2.40
/ede-projects.el
/workgroups
/savehist
/filesets-cache.el
/eproject.lst
/elpa
