[submodule "lib/pylookup"]
	path = lib/pylookup
	url = http://github.com/tsgates/pylookup.git
[submodule "lib/eproject"]
	path = lib/eproject
	url = https://github.com/jrockway/eproject.git
[submodule "lib/emacs-skype"]
	path = lib/emacs-skype
	url = https://github.com/kiwanami/emacs-skype.git
[submodule "lib/nxhtml"]
	path = lib/nxhtml
	url = https://github.com/emacsmirror/nxhtml.git
[submodule "lib/org-html-slideshow"]
	path = lib/org-html-slideshow
	url = https://github.com/relevance/org-html-slideshow
[submodule "lib/o-blog"]
	path = lib/o-blog
	url = https://github.com/renard/o-blog
